*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagbanwa&family=Roboto:wght@100;300;400;700;900&display=swap');


nav{
  background-color: rgb(61, 61, 235);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.container{
  background-color:rgb(255, 248, 220);
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
}
.container>form{
  display: flex;
  flex-direction: column;
}

.container>h1{
  text-align: center;
  font-size: 1.8rem;
  margin: 5px;
}
input,textarea,button{
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.019);
  border-radius: 5px;
  margin: 10px 0px;
  font-size:1.2rem ;
}
button{
  border: none;
  cursor: pointer;
  background-color:rgb(33, 29, 29);
  color: white;
}

.task{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0 ;
}


.task > span{
  color: rgba(0, 0, 0, 0.487);
}
.task > div{
  width: 100%;
}
.task button{
  background-color: rgb(240, 55, 92);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task button:hover{
  background-color: red;
}